/* #root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}*/

.progressbar {
	margin: 10px auto;
	width: 400px;
	height: 5px;
	background-color: rgb(198, 198, 198);
}

.progressbar div {
	height: 100%;
	background-color: rgb(38, 142, 227);
}

.profile-page {
	padding: 20px 10px;
	line-height: normal;
}
.profile-page h3 {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 20px;
	padding-left: 5px;
}

.profile-specs-contatiner {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: white;
	margin-bottom: 30px;
	padding: 12px 12px 8px 12px;
	box-shadow: 0px 0px 5px #b2abbb;
	border-radius: 10px;
	position: relative;
}
.profile-page h6 {
	font-size: 12px;
	font-weight: 400;
}
.spec-titles {
	text-align: center;
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 12px;
	border: 1px solid #b2abbb;
	background-color: white;
	box-shadow: 0px 0px 2px #b2abbb;
	color: rgb(135, 135, 135);
	padding: 0 8px;
}
.profile-specs-contatiner p {
	font-size: 12px;
	color: rgb(135, 135, 135);
}
.profile-specs-contatiner h4 {
	font-size: 24px;
	font-weight: 500;
}

.profile-btn-contatiner {
	text-align: center;
	margin-top: 50px;
}
.profile-btn-contatiner button {
	background-color: #98fb98;
	color: #1e152a;
	font-weight: 500;
	border-radius: 5px;
	border: 1px solid #c6d4c6;
	padding: 5px 20px 10px 20px;
}
.specs-content-gap {
	height: 8px;
}
